*.suo
*.user
_ReSharper.*
XivUWPLaunchMockup/bin
XivUWPLaunchMockup/obj
LibLaunchSupport/bin
LibLaunchSupport/obj
packages
.vs/XivUWPLaunchMockup/v17/.suo
*.dll
*.png
*.exe
*.pri
*.ttf
*.json
bin
obj
.vs/XivUWPLaunchMockup/v17/.suo
*.v2
*.v3
.vs/XivUWPLaunchMockup/v17/.suo
